body{
  background-color: #CAE7B9;
  margin: 0;
}
h1{
  color: #7e7f9a;
  margin: 0; /* Removes space around title */
  padding: 0.5em;
  font-size: 3em;
  font-family: Papyrus, sans-serif, Arial, Georgia;
  text-align: center;
}
header {
  background-color: #f3de8a;
}
nav {
  background-color: #CAE7B9;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  color: white;
  background-color: #baacbd;
  display: inline-block; /* This eliminates the width of the default box */

}
nav a {
  color: #7e7f9a;
  text-decoration: none;
  display: inline-block;
  padding:0.5em 1em; /* The two values represent top and bottom and letf and right margins */
}

nav a:hover {
  color: darkblue;
  font-wieght: bold;
}
#calendar {
  display: inline-block;

  float: left;
  padding-top: 0.5em;
  color: #eb9486;
  width:350px;
}

#calendar strong {
  color: #eb9486;
}

#calendar ul {
    list-style: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-style: italic;
}

section {
  background-color: #eb9486;
  margin-left: 350px;
  padding: 0.5em;
}

h2, h3 {
    margin: 0;
}
h2 {
  padding: 0.5em;
  font-size: 2em;
  font-family:
  text-indent: 0.5em;
}
h3 {
  text-indent: 0.5em;
}
.left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

section::after {
  content: "";
  display: block;
  clear: both;
}

section p {
  margin-top: 0;
}

main {
  background-color: #cae7b9;
}

footer {
  color: #7e7f9a
}

#footer ul {
  list-style: none
}
#footer li {
  display: block;
}
